/.gradle/
/local.properties
/app/build/
/build/
/.idea/
*.iml
/.DS_Store
/.gradle/
/.gradle/*
/.vscode/
/.gradle
/.gradle/*
*.keystore
*.jks
.externalNativeBuild/
/.cxx/
captures/
/*.log
.gradle/
.gradle/*
/.idea/
/.idea/*
app/*.iml
/.DS_Store
gradle-wrapper.jar
gradle-wrapper.properties
